* {
  font-family: "light italic";
  text-align: center;
}

body { 
  padding: 30px;
  overflow: hidden;
}

#backcolor {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

#backcolor.show {
  opacity: 60%;
}

#popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-weight: bold;
  background-color: aliceblue;
  border: 1px solid #1f2937;
  border-radius: 10px;
  position: fixed;
  opacity: 0%;
  transition: transform .3s ease-in-out, opacity .4s ease;
  transform: translate(0%, -100%);
  transform-origin: center;
  flex: 1;
  padding: 1em;
  > h1 {
    background-color: #82abe3;
    padding: 1em 2em;
  }
  > button {
    height:5vh;
    width: 10vw;
    font-weight: bold;
  }
}

#popup.show {
  transform: translate(0%, 0%);
  opacity: 100%;
}

#game {
  display: flex;
  flex-direction: column;
  > .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    > button {
      height:10vh;
      width: 20vw;
    }
  }
}

button {
  background-color: #1f2937;
  color: #f9faf8;
  border-radius: 5px;
  font-weight: 600;
}

#popup > .red {
  color: brown
};


